<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Agendar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>         

            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Cadastro</a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="area">Área</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="professional">Profissional</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="appointment-type">Tipo de Atendimento</a>
                    <hr class="dropdown-divider">
                    <ngbDropdownItem ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="client">Cliente</ngbDropdownItem>
                     <hr class="dropdown-divider">
                     <ngbDropdownItem ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="user">Atendimento</ngbDropdownItem>


                </div>
            </li>  

             <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Agendamentos</a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="hoje">Hoje</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="agendar">Agendar</a>
                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="cancelar">Cancelar</a>
                    <hr class="dropdown-divider">
                    <ngbDropdownItem ngbDropdownItem href="#" (click)="$event.preventDefault()"  routerLink="historico-clientes">Historico de Clinetes</ngbDropdownItem>
                     <hr class="dropdown-divider">
                     <ngbDropdownItem ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="agenda-professional">Agenda Profissional</ngbDropdownItem>


                </div>
            </li>  
             
        </ul>
        <form class="d-flex">
           <div class="my-auto me-4">
            <span class="fw-bold me-2">{{getRealName()}}</span>
            <span *ngIf="isAdmin()">(Admin)</span>
           </div>
          <button class="btn btn-outline-secondary" type="submit" onclick="logout()">Sair</button>
        </form>
      </div>
    </div>
  </nav>